html {
  background-color: #f2f1ed;
  font-family: georgia, serif;
  line-height: 1.3;
  text-align: left;
  font-style: italic;
  font-size: 1rem;
}

img {
  width: 100%;
}

h2 {
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  color: #5d8432;
}

nav {
  font-weight: bold;
  line-height: 1.6rem;
  font-family: "Patua One", cursive;
  list-style-type: none;
}

a:hover {
  color: #b42885;
}

a {
  color: #793284;
  text-decoration: none;
}

p {
  font-style: italic;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1;
  margin-top: auto;
  font-stretch: ultra-expanded;
  column-count: 1;
}

ol {
  list-style-type: none;
}
