html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
  text-align: left;
  font-style: italic;
  font-size: 1rem;
}

img {
  width: 100%;
}

h2 {
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  color: #5d8432;
}

nav {
  font-weight: bold;
  line-height: 1.125rem;
  font-family: "Patua One", cursive;
  font-size: 1rem;
}

a:hover {
  color: #b42885;
}

a {
  color: #793284;
  text-decoration: none;
}

figcaption {
  font-style: italic;
  font-size: .8rem;
  text-align: center;
  white-space: pre-wrap;
}

ol {
  list-style-type: none;
}
