html {
  background-color: #f2f1ed;
  font-family: georgia, serif;
  line-height: 1.3;
  text-align: left;
  font-style: italic;
  font-size: 1rem;
}

img {
  width: 100%;
}

h2 {
  font-family: "Patua One", cursive;
  text-transform: uppercase;
  color: #5d8432;
}

li {
  font-weight: bold;
  line-height: 1.125rem;
  font-family: "Patua One", cursive;
}

a:hover {
  color: #b42885;
}

a {
  color: #793284;
}

p {
  text-align: center;
}
